div.appModule.app-c-g
	div.tableM
		table
			tr
				td.tit(width='30%') 青年组
				td.tit(colspan='2')
					| 18-35岁，生日在1988-09-01---1981-09-01之间 <br>
					| 项目限制：只能报一项 <br>
					| 报名时间：2016-09-01---2016-10-01
			tr
				td 男子单打
				td 人数不限
				td
					a.btnY 添加人员
			tr
				td 男子双打
				td 人数不限
				td
					a.btnY 添加人员
			tr
				td 女子单打
				td 人数不限
				td
					a.btnY 添加人员
			tr
				td 女子双打
				td 人数不限
				td
					a.btnY 添加人员
			tr
				td 男女混合打
				td 人数不限
				td
					a.btnY 添加人员
		table
			tr
				td.tit(width='30%') 中年组
				td.tit(colspan='2')
					| 35-50岁，生日在1981-09-01---1976-09-01之间 <br>
					| 项目限制：只能报一项 <br>
					| 报名时间：2016-09-01---2016-10-01
			tr
				td 男子单打
				td 人数不限
				td
					a.btnY 添加人员
			tr
				td 男子双打
				td 人数不限
				td
					a.btnY 添加人员
			tr
				td 女子单打
				td 人数不限
				td
					a.btnY 添加人员