div.appModule.app-c-gc
	div.tableM
		table
			tr
				td.tit(width='30%') 老年组
				td.tit.nowrap 可报人数
				td.tit 报名时间：2017.03.13--2017.03.15
			tr
				td bbb
				td 
				td
					a.btnY 报名
			tr
				td 女子A组
				td 
				td
					a.btnY 报名
			tr
				td 女子B组
				td 
				td
					a.btnY 报名
		table
			tr
				td.tit(width='30%') 男子组
				td.tit.nowrap 可报人数
				td.tit 报名时间：2017.03.13--2017.03.15
			tr
				td aaa
				td 
				td
					a.btnY 报名
		table
			tr
				td.tit(width='30%') 中年组
				td.tit.nowrap 可报人数
				td.tit 报名时间：2017.03.13--2017.03.15
			tr
				td 男子A组
				td 
				td
					a.btnY 报名
			tr
				td 男子B组
				td 
				td
					a.btnY 报名