div.appModule.app-f-l
	ul.fieldlist
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 有氧健身馆
		li
			a
				i(style='background:url(images/detail-img01.png) no-repeat;background-size:cover;')
				span 名字应该没有太长吧
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 羽毛球馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 有氧健身馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 乒乓球馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 羽毛球馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 有氧健身馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 乒乓球馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 羽毛球馆
		li
			a
				i(style='background:url(images/avatar.jpg) no-repeat;background-size:cover;')
				span 羽毛球馆