div.appModule.app-f-l
	ul.fieldlist
		li
			a
				img(src='images/avatar.jpg')
				span 有氧健身馆
		li
			a
				img(src='images/avatar.jpg')
				span 乒乓球馆
		li
			a
				img(src='images/avatar.jpg')
				span 羽毛球馆
		li
			a
				img(src='images/avatar.jpg')
				span 有氧健身馆
		li
			a
				img(src='images/avatar.jpg')
				span 乒乓球馆
		li
			a
				img(src='images/avatar.jpg')
				span 羽毛球馆
		li
			a
				img(src='images/avatar.jpg')
				span 有氧健身馆
		li
			a
				img(src='images/avatar.jpg')
				span 乒乓球馆
		li
			a
				img(src='images/avatar.jpg')
				span 羽毛球馆
		li
			a
				img(src='images/avatar.jpg')
				span 羽毛球馆