div.appModule
	div.swiper-container
		div.swiper-wrapper
			div.swiper-slide
				a
					img(src='images/slide1.png',width='100%')
			div.swiper-slide
				a
					img(src='images/slide1.png',width='100%')
			div.swiper-slide
				a
					img(src='images/slide1.png',width='100%')
		div.swiper-pagination
	div.lastedMsg
		p
			i.iconfont.icon-msg
			| 最新通知最新通知最新通知最新通知最新通知最新通知最新通知最新通知最新通知
	div.cells.clearfix
		div.cell-item.cdjs
			a
				img(src='images/cells-cdjs.png')
		div.cell-item.jcjs
			a
				img(src='images/cells-jcjs.png')
		div.cell-item.pxxm
			a
				img(src='images/cells-pxxm.png')
		div.cell-item.yycd
			a
				img(src='images/cells-yycd.png')
		div.cell-item.yyjc
			a
				img(src='images/cells-yyjc.png')
		div.cell-item.ssbm
			a
				img(src='images/cells-ssbm.png')
	div.navlis
		div.nav-li.zxjj
			a
				img(src='images/navlis-zxjj.png')
				span
					em 中
					em 心
					em 简
					em 介
		div.nav-li.xwzx
			a
				img(src='images/navlis-xwzx.png')
				span
					em 新
					em 闻
					em 中
					em 心
		div.nav-li.jcss
			a
				img(src='images/navlis-jcss.png')
				span
					em 精
					em 彩
					em 赛
					em 事
		div.nav-li.jswh
			a
				img(src='images/navlis-jswh.png')
				span
					em 健
					em 身
					em 文
					em 化