div.appModule.app-m-p
	ul.menubox
		li
			a
				span.tit 中心简介
				span.ic
		li
			a
				span.tit 场地介绍
				span.ic
		li
			a
				span.tit 检测介绍
				span.ic
		li
			a
				span.tit 项目培训
				span.ic
		li
			a
				span.tit 新闻中心
				span.ic
		li
			a
				span.tit 精彩赛事
				span.ic
