div.appModule.app-m-c
	div.tabbar
		input#id1(type='radio',name='type',value='1',checked)
		input#id2(type='radio',name='type',value='2')
		input#id3(type='radio',name='type',value='3')
		ul.tablis
			li
				label(for='id1') 分类一
			li
				label(for='id2') 分类二
			li
				label(for='id3') 分类三
		div.tabline
		div.tabpanel
			ul
				li
					a
						h2 济南市第六届全民健身运动会中式台球邀请赛圆满落幕1
						p 
							span.from 来源：中心动态
							span.dt 08-05 23:58
				li
					a
						h2 济南市第六届全民健身运动会中式台球邀请赛圆满落幕2
						p 
							span.from 来源：中心动态
							span.dt 08-05 23:58