div.header
	a.leftbtn
		i.iconfont.icon-left
	h1 
	a.rightbtn
		i.iconfont.icon-star
div.appModule.app-m-d
	div.msgdetail
		h2.tit 标题
		div.subtit
			span.from 来自
			span.datetime 08-15 23:58
		div.content
			p 活动内容包括“青少年儿童助长干预”、“健身培训公开课”和“健身设施免费体验”三个部分，本次活动面向全市广大少年儿童(13周岁以下)免费开放。
			p
				img(src='images/detail-img01.png')
			p 活动内容包括“青少年儿童助长干预”、“健身培训公开课”和“健身设施免费体验”三个部分，本次活动面向全市广大少年儿童(13周岁以下)免费开放。