div.appModule.app-m-c
	div.tabbar
		input#id1(type='radio',name='type',value='1',checked)
		input#id2(type='radio',name='type',value='2')
		input#id3(type='radio',name='type',value='3')
		ul.tablis
			li
				label(for='id1') 分类一
			li
				label(for='id2') 分类二
			li
				label(for='id3') 分类三
		div.tabline
	div.tabpanel
		ul
script(src='js/jquery.min.js')
script(src='js/dropload.min.js')
script.
	var type=1,
		page=1,
		rows=10,
		totalpage=2,
		dropload,
		startload = !0,
		$obj = $('.tabpanel'),
		$ul = $obj.find('ul');
	getData(type,page,rows);
	$(document).on('change',':radio',function(e){
		var dom = e.target || e.srcElement;
		page = 1;
		type = dom.value;
		getData(type,page,rows,function(){
			$obj.scrollTop(0);
		});
	})
	function getData(type,page,rows,fn){
		var i=0,
			html = '',
			str = '<li><a><h2>济南市第六届全民健身运动会中式台球邀请赛圆满落幕'+type+'</h2><p> <span class="from">来源：中心动态</span><span class="dt">08-05 23:58</span></p></a></li>';
		for(;i<rows;i++){
			html+=str;
		}
		if(page===1){
			$ul.html(html);
		}else{
			$ul.append(html);
		}
		initDropLoad();
		if($.isFunction(fn)){
			fn.call();
		}
	}
	function initDropLoad(){
		if(dropload){
			if(totalpage>page){
				dropload.noData(false);
				dropload.unlock();
			}else{
				dropload.noData();
				dropload.lock();
			}
		}else if(!dropload&&totalpage>1){
			dropload = $obj.dropload({
		        scrollArea : $obj,
		        loadDownFn : function(dropme){
	            	if(totalpage>page){
		            	getData(type,++page,rows,function(){
		            		dropme.resetload();
		            	});
		            }else{
		            	dropme.resetload();
		            }
		        }
			})
			dropload.unlock();
		}
	}