div.appModule.app-m-r
	div.liketitY
		span 场地预约
	div.tableM
		table
			tr
				td.tit 场地名称
				td.tit 预约时间
				td.tit 操作
	div.liketitY
		span 检测预约
	div.tableM
		table
			tr
				td.tit 检测项目
				td.tit 预约时间
				td.tit 操作
			tr
				td 骨密度检测
				td 2017.04.15
				td
					a 取消预定