div.appModule.app-p-c
	div.account
		div.username
			p www123
		div.avatar
			a
				img(src='images/avatar.jpg')
			div.wavebg
				img(src='images/loginbg.png')
		div.wave
			div.col-item
				span 姓名
				p 123
			div.col-item
				span 手机号
				p 13333333333
			div.col-item
				span 会员卡号
				p 123456
	div.forlinkcell
		div.col-item
			a
				img(src='images/forlikecell-cdyy.png')
				p 场地预约
		div.col-item
			a
				img(src='images/forlikecell-jcyy.png')
				p 监测预约
		div.col-item
			a
				img(src='images/forlikecell-jccx.png')
				p 监测查询
		div.col-item
			a
				img(src='images/forlikecell-wdyy.png')
				p 我的预约