doctype
html
	head
		include ../inc/headmeta
		block meta
			meta(name='keywords',content='')
			meta(name='description',content='')
		block title
			title APP
		link(rel='stylesheet',href='css/app.css')
	body
		div.app
			block module
			include ../inc/foot