extends ../inc/templete
block title
	title 首页
block module
	include ../inc/index_module
	link(rel='stylesheet',href='css/swiper.min.css')
	script(src='js/swiper.min.js')
	script.
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true
		});