<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="maximum-dpr=3" name="flexible">
    <meta content="modeName=750-12" name="grid">
    <script src="js/flexible_css.js"></script>
    <script src="js/flexible.js"></script>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>赛事分组</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="app">
      <div class="appModule app-c-g">
        <div class="tableM">
          <table>
            <tr>
              <td width="30%" class="tit">青年组</td>
              <td colspan="2" class="tit">
                18-35岁，生日在1988-09-01---1981-09-01之间 <br>
                项目限制：只能报一项 <br>
                报名时间：2016-09-01---2016-10-01
              </td>
            </tr>
            <tr>
              <td>男子单打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
            <tr>
              <td>男子双打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
            <tr>
              <td>女子单打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
            <tr>
              <td>女子双打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
            <tr>
              <td>男女混合打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
          </table>
          <table>
            <tr>
              <td width="30%" class="tit">中年组</td>
              <td colspan="2" class="tit">
                35-50岁，生日在1981-09-01---1976-09-01之间 <br>
                项目限制：只能报一项 <br>
                报名时间：2016-09-01---2016-10-01
              </td>
            </tr>
            <tr>
              <td>男子单打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
            <tr>
              <td>男子双打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
            <tr>
              <td>女子单打</td>
              <td>人数不限</td>
              <td><a class="btnY">添加人员</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="footer"><a class="menu-item on"><span><i class="iconfont icon-home"></i></span>
          <p>首页</p></a><a class="menu-item"><span><i class="iconfont icon-star"></i></span>
          <p>服务中心</p></a><a class="menu-item"><span><i class="iconfont icon-boxico02"></i></span>
          <p>信息中心</p></a></div>
    </div>
  </body>
</html>