<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="maximum-dpr=3" name="flexible">
    <meta content="modeName=750-12" name="grid">
    <script src="js/flexible_css.js"></script>
    <script src="js/flexible.js"></script>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>赛事团队报名</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="app">
      <div class="appModule app-c-a">
        <div class="tableM">
          <table>
            <tr>
              <td colspan="6" class="tit">
                <label>团体名称：</label>
                <input type="text" name="groupname">
              </td>
            </tr>
            <tr>
              <td>姓名</td>
              <td>性别</td>
              <td>年龄</td>
              <td>身份证号</td>
              <td>手机号</td>
              <td class="nowrap"><a class="btnAdd">添加人员<i class="iconfont icon-add"></i></a></td>
            </tr>
            <tr>
              <td>
                <input type="text">
              </td>
              <td class="nowrap">
                <label for="male1">男</label>
                <input id="male1" type="radio">
                <label for="female1">女</label>
                <input id="female1" type="radio">
              </td>
              <td>
                <input type="num">
              </td>
              <td>
                <input type="text">
              </td>
              <td>
                <input type="tel">
              </td>
              <td><a class="btnD"><i class="iconfont icon-del"></i></a></td>
            </tr>
            <tr>
              <td colspan="6"><a class="btnY">全部提交</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="footer"><a class="menu-item on"><span><i class="iconfont icon-home"></i></span>
          <p>首页</p></a><a class="menu-item"><span><i class="iconfont icon-star"></i></span>
          <p>服务中心</p></a><a class="menu-item"><span><i class="iconfont icon-boxico02"></i></span>
          <p>信息中心</p></a></div>
    </div>
  </body>
</html>