<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="maximum-dpr=3" name="flexible">
    <meta content="modeName=750-12" name="grid">
    <script src="js/flexible_css.js"></script>
    <script src="js/flexible.js"></script>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>消息中心</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="app">
      <div class="appModule app-m-c">
        <div class="tabbar">
          <input id="id1" type="radio" name="type" value="1" checked>
          <input id="id2" type="radio" name="type" value="2">
          <input id="id3" type="radio" name="type" value="3">
          <ul class="tablis">
            <li>
              <label for="id1">分类一</label>
            </li>
            <li>
              <label for="id2">分类二</label>
            </li>
            <li>
              <label for="id3">分类三</label>
            </li>
          </ul>
          <div class="tabline"></div>
        </div>
        <div class="tabpanel">
          <ul></ul>
        </div>
      </div>
      <script src="js/jquery.min.js"></script>
      <script src="js/dropload.min.js"></script>
      <script>
        var type=1,
        	page=1,
        	rows=10,
        	totalpage=2,
        	dropload,
        	startload = !0,
        	$obj = $('.tabpanel'),
        	$ul = $obj.find('ul');
        getData(type,page,rows);
        $(document).on('change',':radio',function(e){
        	var dom = e.target || e.srcElement;
        	page = 1;
        	type = dom.value;
        	getData(type,page,rows,function(){
        		$obj.scrollTop(0);
        	});
        })
        function getData(type,page,rows,fn){
        	var i=0,
        		html = '',
        		str = '<li><a><h2>济南市第六届全民健身运动会中式台球邀请赛圆满落幕'+type+'</h2><p> <span class="from">来源：中心动态</span><span class="dt">08-05 23:58</span></p></a></li>';
        	for(;i<rows;i++){
        		html+=str;
        	}
        	if(page===1){
        		$ul.html(html);
        	}else{
        		$ul.append(html);
        	}
        	initDropLoad();
        	if($.isFunction(fn)){
        		fn.call();
        	}
        }
        function initDropLoad(){
        	if(dropload){
        		if(totalpage>page){
        			dropload.noData(false);
        			dropload.unlock();
        		}else{
        			dropload.noData();
        			dropload.lock();
        		}
        	}else if(!dropload&&totalpage>1){
        		dropload = $obj.dropload({
        	        scrollArea : $obj,
        	        loadDownFn : function(dropme){
                    	if(totalpage>page){
        	            	getData(type,++page,rows,function(){
        	            		dropme.resetload();
        	            	});
        	            }else{
        	            	dropme.resetload();
        	            }
        	        }
        		})
        		dropload.unlock();
        	}
        }
      </script>
      <div class="footer"><a class="menu-item on"><span><i class="iconfont icon-home"></i></span>
          <p>首页</p></a><a class="menu-item"><span><i class="iconfont icon-star"></i></span>
          <p>服务中心</p></a><a class="menu-item"><span><i class="iconfont icon-boxico02"></i></span>
          <p>信息中心</p></a></div>
    </div>
  </body>
</html>