<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="maximum-dpr=3" name="flexible">
    <meta content="modeName=750-12" name="grid">
    <script src="js/flexible_css.js"></script>
    <script src="js/flexible.js"></script>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>个人中心</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="app">
      <div class="appModule app-p-c">
        <div class="account">
          <div class="username">
            <p>www123</p>
          </div>
          <div class="avatar"><a><img src="images/avatar.jpg"></a>
            <div class="wavebg"><img src="images/loginbg.png"></div>
          </div>
          <div class="wave">
            <div class="col-item"><span>姓名</span>
              <p>123</p>
            </div>
            <div class="col-item"><span>手机号</span>
              <p>13333333333</p>
            </div>
            <div class="col-item"><span>会员卡号</span>
              <p>123456</p>
            </div>
          </div>
        </div>
        <div class="forlinkcell">
          <div class="col-item"><a><img src="images/forlikecell-cdyy.png">
              <p>场地预约</p></a></div>
          <div class="col-item"><a><img src="images/forlikecell-jcyy.png">
              <p>监测预约</p></a></div>
          <div class="col-item"><a><img src="images/forlikecell-jccx.png">
              <p>监测查询</p></a></div>
          <div class="col-item"><a><img src="images/forlikecell-wdyy.png">
              <p>我的预约</p></a></div>
        </div>
      </div>
      <div class="footer"><a class="menu-item on"><span><i class="iconfont icon-home"></i></span>
          <p>首页</p></a><a class="menu-item"><span><i class="iconfont icon-star"></i></span>
          <p>服务中心</p></a><a class="menu-item"><span><i class="iconfont icon-boxico02"></i></span>
          <p>信息中心</p></a></div>
    </div>
  </body>
</html>